<div>
    <div id="segment-header" class="segment">
        <!-- segment-header -->
        <div class="container">
            <!-- container -->
            {% include fhirlogo.html %}

            <div id="hl7-status">
                <b>{{site.data.fhir.igName}} (v{{site.data.fhir.igVer}})</b>
            </div>

            {% include logo.html %}

        </div>
        <div class="container">
            <!-- container -->
        </div>
    </div>
    <!-- /segment-header -->

    {% include navbar-menu.html %}
    <!-- /segment-navbar -->
</div>